body{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 auto;
    margin: 0 auto;
    color: #343239;
}

.container{
    display: grid;
    background-color:#fbf9fb;
    grid-template-columns: 1;
    grid-template-areas:
    "header "
    "about "
    "projects "
    "contact "
    "footer ";
}

.header {
    grid-area:header;
    background-color: #F26627;
    padding: 3%;
}
.headerName{   
    text-align: center;
    font-size: 3em;
    z-index : 1;
    position: relative;
    margin-bottom: 2%;
    font-weight: bold;
    
}
.headerName:after {
    content: '';
    position: absolute;
    left:5%;
    top: 50px;
    height  : 25px;
    width   : 90%;
    border-bottom:3px solid #343239;
}
.headerInfo{
    text-align: center;
    font-size: 2em;
    padding-top: 1em;
    margin-top: -20px;
}
.links-container{
    margin-top: 1.5%;
    text-align: center;
    width: 100%;
}
.email-button{
    background-image: url(images/email.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    padding: 20px;
    width: 20px;
    border-radius: 900px;
    height: 20px;
    transition: all 0.3s;
    cursor: pointer;
    margin-left: 10px;
}
.email-button:hover{
    border: 1px solid #343239;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.git-button:hover{
    background-image: url(images/github-light.png);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.git-button{
    background-image: url(images/github.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    padding: 20px;
    width: 20px;
    border-radius: 900px;
    height: 20px;
    transition: all 0.3s;
    cursor: pointer;
}

.subheader{
    text-align: center;
    position: relative;
    font-size: 3em;
    font-weight: bold;
}
.about-subheader{
    grid-area: about-subheader;
}
.projects-subheader{
    
    border-bottom: 1px solid #343239;
    margin: 100px 4% auto 4%;
}
.email{
    background-image: url(images/email.jpg);
}
.about {
    margin: 3% 10% 0 10%;
    grid-area:about;
    display:grid;
    grid-template-columns: 1;
    grid-template-areas:
    "about-subheader "
    "about-content "
    "education "
    "languages "
    "frameworks";
}
.about-content{
    margin-top:1%;
    grid-area: about-content;
    border-top: 1px solid #343239;
}
.education{
    margin-top:15px;
    margin-bottom: 30px;
    grid-area:education;
    text-align: left;
    position: relative;
    font-size: 2.2em;
    
}
.educationName{
    border-bottom: 1px solid #343239;
    display:inline-block;
}

/* .educontainer{
    border-top: 1px solid black;
} */
.unimelb{
    width:150px;
    border-radius:8px;
    vertical-align: middle;
    float:left;
}
.unimelb:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.uni{
    margin-top: 15px;
    font-weight: bold;
    text-decoration: underline;
}
.educ{
    margin-top: 15px;
    margin-left: 170px;
    font-size: 0.6em;
}
.educ span{
    display:block;
}
.title{
    grid-column-end: span 1;
    background-color:lightblue;
}

.languages{
    grid-area:languages;
    margin-left: 5%;
    margin-right: 5%;
}
.languages-table{
    margin-right:5px;
    text-align: center;
    border-spacing: 5px;
    border-top: 1px solid black;
    width:100%;
}
.languages h3{
    text-align: center;
}
.frameworks{
    grid-area:frameworks;
    margin-left: 5%;
    margin-right: 5%;
}
.frameworks-table{
    margin-left:500px;
    text-align: center;
    border-spacing: 5px;
    border-top: 1px solid #343239;
    width:100%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}
.frameworks h3{
    text-align: center;
}
.projects{
    grid-area:projects;
    height:auto;
    margin-left: 7%;
    margin-right: 7%;
   
}
.proj{
    padding: 4%;
    
} 
.imageClass{
    border-radius:8px;
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
    -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out,
    transform 0.3s ease-in-out ;
}
.imageClass:hover{
    cursor:auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.textImg{
    display:block;
    border-radius:8px;
    max-width: 100%;
    height: auto;
}
.text{
    font-size: 1em;
    border-radius:8px;
    position: relative;
    max-height: 450px;
    max-width: 850px;
    background-color: red ;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: auto;
    -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out,
    transform 0.3s ease-in-out ;
    margin-bottom:100px;
}
.text-box-content{
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 5%;
    margin-bottom: 3%;
    line-height: 1.3;
    letter-spacing: .02em;
    position:absolute;
    float:left;
    left:0px;
    top:-10px;
}
.text:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.text h3{
    text-align: center;
    text-decoration: bold;
    font-size: 3vw;
}
.text p{
    font-size: 1.8vw;
}
.edutext h3{
    margin-bottom: 0.5%;
}

.text table{
    align-content:left;
    
    border-spacing: 20px 0;
    font-size: 1.8vw;
}
.footer{
    padding: 0.5%;
    grid-area: footer;
    background-color: #F26627;
}
.button-container{
    margin: auto;
    text-align: center;
    position:absolute; 
    bottom:17px;
    width:100%;
}
.button{
    color: #343239;
    background: #f58857; 
    border: 3px solid #F26627;
    border-radius: 10px; 
    padding: 2.5%;
    margin: 3% 3% 0 3%;
    transition: all 0.3s;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    width:auto;
    height: auto;
    display:inline-block;
    
}
.button:hover {
    background-color: white;
    color: #343239;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.footer-content{
    float: left;
    margin-left:10px;
}
.links-container2{
    float:right;
    margin-top: 5px;
    margin-right: 20px;
    top: 0px;
}
@media screen and (min-width: 1081px) 
{
    
    .container{
        background-color:#EFEEEE;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-areas:
        "header header"
        "about about"
        "projects projects"
        "contact contact"
        "footer footer";
        
        
        
    }

    .about {
        margin: 3% 20% 0 20%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "about-subheader about-subheader"
        "about-content about-content"
        "education education"
        "languages frameworks";
    }
    .para{
        margin-top: 20px;
        margin-bottom: 30px;
        column-count: 2;
        column-gap: 40px;
        column-rule: 1px solid lightgray;
    }
    .projects{
        grid-area:projects;
        background-color: #EFEEEE;
        display: grid;
        margin-left: auto;
        margin-right: auto;
       
    }
    .button-container{
        position: absolute;
    }
    .button{
        font-size: 1.2vw;
        bottom: 5%;
    }
    .image{
        margin-top:0;
        margin-bottom:0;
    }
    .text{
        margin-top:0;
        margin-bottom:0;
    }
    .text h3{
        font-size: 1.5vw;
        margin-bottom:2%;
    }
    .text p{
        margin-top: 0;
        font-size: 1vw;
    }
    .text table{
        font-size: 0.9vw;
    }
    .right{
        float: right;
        width:45%;
        height:auto;
    }
    .left{
        float:left;
        width:45%;
        height:auto;
    }
    .headerName:after {
        left:30%;
        width   : 40%;
      }

      .divider:after {
        left:39%;
        width   : 22%;
    }
/* 
    colour for image background : #f58857 */
}
@media screen and (min-width: 1921px) 
{
    .text h3{
        font-size: 1.8em;
    }
    .text p{
        font-size: 1.2em;
    }
    .text table{
        font-size: 1.1em;
    }
    .button{
        font-size: 1.2em;
    }
}